body {
    //height: 100vh;
    background-color: #F0F2F5;
}

.ant-layout-header {
    box-shadow: 0 1px 10px #DEE0E0;
    height: 66px;
    color: #fff;
    padding: 0 20px;

    .logo {
        background-image: url("../assets/img/logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 172px;
        height: 40px;
        margin: 13px 20px 0 0;
        float: left;
        position: relative;

        &:hover {
            opacity: .8;
        }
    }

    .ant-menu {
        .ant-menu-item {
            border-left: 1px #f1f1f1 solid;
            margin-right: 0;
            margin-left: 0;
            padding: 0 10px;

        }

    }
}

.header-light {
    background-color: #fff;
}

.header-purchaser {
    background-color: #fff;

    .logo {
        background-image: url("../assets/img/logo-purchaser.png");
    }
}

.header-supplier {
    background-color: #fff;

    .logo {
        background-image: url("../assets/img/logo-supplier.png");
    }
}

.header-dark {
    .logo {
        background-image: url("../assets/img/logo-white.png");
    }
    .ant-menu {
        .ant-menu-item {
            border-left: 1px #0D2946 solid;
        }
    }
}

.react-icons {
    vertical-align: middle;
}

.lot-item {
    border: 1px #E4E7F2 solid;
    background-color: white;
    margin-bottom: 20px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.slick-slide img {
    padding: 10px;
}

.login-page {
    background: white;
    width: 400px;
    padding: 30px;
    margin: 30px auto;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
}

.text-center {
    text-align: center;
}

.f-bold {
    font-weight: bold;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.blue-bg {
    background-color: #001BAE;

}

.bg-white {
    background-color: white;
    padding: 80px 0;
}

.bg-gray {
    background-color: #F0F2F5;
    padding: 80px 0;
}

.bg-img1 {
    background-image: url("../assets/img/way.jpg");
    background-attachment: fixed;

    .ant-statistic-title {
        color: white !important;
    }
}

/* Helpers */
.pv-100 {
    padding: 100px 0;
}

.ph-40 {
    padding: 0 40px;
}

.text-right {
    text-align: right;
}

.text-white {
    color: white !important;
}

.slider-title {
    font-size: 36px;
    font-weight: 300;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
    text-align: left;
}

.catalog-item {
    background-color: #fff;
    border: 1px #D8D8D8 solid;
    padding: 15px;
    height: 100px;
    border-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h4 {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &:hover {
        box-shadow: 0 3px 10px #D8D8D8;
        cursor: pointer;
    }
}

.slick-title {
    height: 80px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.f-300 {
    font-weight: 300 !important;
}

.img-responsive {
    width: 100%;
}

.lead {
    font-size: 18px;
    font-weight: 300;
}

.news-carousel {
    padding: 0 5px;

    .ant-card-body {
        padding: 0 15px 15px 15px;
    }

    .news-img {
        height: 170px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.pv-50 {
    padding: 50px 0;
}

.footer {
    background-color: #F0F2F5;
    padding: 20px 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #848587;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1890FF;
}

.ant-btn-icon-only {
    font-size: 10px;
    margin-right: 0 !important;
}

.ant-dropdown-menu-item > .react-icons:first-child,
.ant-dropdown-menu-submenu-title > .react-icons:first-child,
.ant-dropdown-menu-item > span > .react-icons:first-child,
.ant-dropdown-menu-submenu-title > span > .react-icons:first-child {
    min-width: 12px;
    margin-right: 8px;
    font-size: 12px;
}

.ant-modal-body {
    padding: 15px;
}

.ant-form-item {
    margin-bottom: 8px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table-striped .ant-table-row:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

.table-hover .ant-table-row:hover .ant-table-cell {
    background-color: rgba(0, 0, 0, .075) !important;
}

.list-menu {
    margin-bottom: 10px;

    .ant-list-header {
        background-color: #f1f1f1;
    }

    .ant-list-item {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        &:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }
    }

    .active {
        background-color: #E6F7FF;
        color: #1890FF;
    }
}

ant-table.ant-table-small .ant-table-title,
.ant-table.ant-table-small .ant-table-footer,
.ant-table.ant-table-small .ant-table-thead > tr > th,
.ant-table.ant-table-small .ant-table-tbody > tr > td,
.ant-table.ant-table-small tfoot > tr > th,
.ant-table.ant-table-small tfoot > tr > td {
    padding: 3px 3px;
}

@media (max-width: 575px) {
    .ant-form-item .ant-form-item-label {
        padding: 0;
    }
}

.ant-form-item-label > label {
    line-height: 20px;
}

.d-flex {
    display: flex;
}

.ant-layout-sider {
    background-color: #fff;
}

.ant-table-filter-trigger {
    text-align: center;
    line-height: 36px;
    font-size: 16px;
}

.card-container p {
    margin: 0;
}

.card-container > .ant-tabs-card .ant-tabs-content {
    margin-top: -16px;
}

.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-nav::before {
    display: none;
}

.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
}

.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
}

#components-tabs-demo-card-top .code-box-demo {
    background: #f5f5f5;
    overflow: hidden;
    padding: 24px;
}

.custom-select .Select-control {
    border-radius: 2px;
}

[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
    height: 120px;
    margin-top: -8px;
}

[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
}

[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
    background: #000;
}

[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    background: #141414;
}

[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
    border-color: #141414;
    background: #141414;
}

.ReactTable {
    .rt-thead .rt-tr {
        //text-align: center;
        //height: 30px;
        //padding: 3px 0 0;
    }

    .rt-thead.-header {
        height: 30px;
    }

    .rt-thead .rt-resizable-header-content {
        padding: 3px 0;
    }

    .rt-th, .rt-td {
        padding: 2px 2px !important;
    }

    .table-actions {
        .ant-btn {
            padding: 0 2px;
        }
    }
}

.-pagination input,
.ReactTable .-pagination select {
    padding: 3px 3px !important;
}

.ant-card-body {
    padding: 10px;
}

.img {
    //-webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    //box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
    cursor: pointer;
}

.list-menu .ant-list-item {
    display: block;
}

.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label,
.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content {
    padding: 6px 5px;
}

.product .price {
    padding: 2px 5px;
    min-width: 25px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .14);

    background-color: #ffd67c;
    color: #715000;
    font-size: 11px;
    height: 20px;
    right: -5px;
    position: absolute;
    top: 8px;
    font-weight: 700
}

.ReactTable .-pagination .-btn {
    width: 50px !important;
}

.ReactTable .-pagination .-previous, .ReactTable .-pagination .-next {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none !important;
    text-align: center;
}

.ReactTable .-pagination .-center {
    -webkit-box-flex: 0 !important;
    -ms-flex: none !important;
    flex: none !important;
}

@media (max-width: 768px) {
    .ant-layout-header {
        .logo {
            background-image: url("../assets/img/logo-icon.png");
            width: 52px;
            margin-right: 10px;
        }
    }
    .header-dark {
        .logo {
            background-image: url("../assets/img/logo-icon-white.png");
            width: 52px;
            margin-right: 10px;
        }
    }
}
